body {
    background-color: #e6a3a3;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

h1 {
    color: #801b1b;
}


.listareceta li{
    color: brown;
    text-decoration: none;
    font-weight: bold;
}