body {
    background-color: #f5b1b1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}


.listareceta li a{
    color: blue;
    text-decoration: none;
    font-weight: bold;
}